<?xml version="1.0" encoding="utf-8"?>
<!--
  如需如何設定 ASP.NET 應用程式的詳細資訊，請造訪
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="dbconn" connectionString="Data Source=.;Initial Catalog=testdb;Persist Security Info=True;User ID=sa;Password=1qaz@wsx"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="copyright" value="版權所有 Copyright © 2013 教育部青年發展署"/>
    <add key="address" value="10055臺北市中正區徐州路5號14樓"/>
    <add key="contact" value="電話:886-2-7736-5111 傳真:886-2-2356-6307 E-Mail:yda@mail.yda.gov.tw"/>
    <add key="display" value="本網站最佳解析度：1280 X 1024"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
</configuration>