html,
body {
    padding: 0;
    margin: 0;
}
body {
    margin-top: calc((100vh - 676px)/2);
    /*background-color: rgb(85,85,85);*/
}
.switchBtn, #btnCleaner, #btnSend {
    width: 47px;
    padding:0;
}
.input-group input.form-control,
.input-group button {
    height: 45px;
}
div.input-group span:first-child {
    z-index: 3;/*以正常顯示右邊界點擊特效*/
}
#divLineWidthShow,
ul.lineWidthGroup div {
    width: 21px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /*background-color: rgb(51, 51, 51);*/
    background-color: #fff;
}
#divLineWidthShow {
    height: 2px;
}
#btnLineWidthShow {
    width: 47px;
    height: 45px;
    border-radius: 0;
    margin-top:-1px;
    margin-bottom:-1px;
    margin-right:-1px;
    border-bottom-right-radius: 4px;
    background-color: rgb(51,51,51);
}
.lineWidthGroup {
    min-width: 0;
    width: 47px;
    padding:9px 0;
    background-color: rgb(51,51,51);
}
ul.lineWidthGroup a {
    height: 26px;
    position: relative;/*線條圖示div置中用*/
}
ul.lineWidthGroup a:hover {
    background-color: rgba(225, 225, 225, .7);
}
#btnCleaner {
    float:left;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    height: 45px;
    margin-top:-1px;
    margin-bottom:-1px;
    margin-left:-1px;
    /*                display: none;*/
}
#btnDrawMode {
    float:right;
    border-radius: 0;
    height: 45px;
    margin-top:-1px;
    margin-bottom:-1px;
    margin-right:-1px;
    position: relative;/*使z-index有效*/
    /*                display: none;*/
}
#btnDrawMode:focus {
    z-index: 3;/*在focus時拉高，使其框可見*/
}
#divCanvasFooter .btn-group {
    float:right;
    /*                display: none;*/
}
#divCanvasFooter {
    height:45px;
    border-bottom-left-radius: 4px; 
    border-bottom-right-radius: 4px;
    border:1px solid rgb(204,204,204);
}
#divAnswerSquares {
    text-align: center;
    width:100%;
    font-size: 0;/*讓inline-block的元素間距歸0*/
}
#divAnswerSquares button {
    margin-top:5px;
    margin-left:1px;
    margin-right:1px;
    height: 33px;
    width: 33px;
    padding: 0;
    font-size: 26px;
    font-weight: bold;
    line-height: 31px;
}
#divMsgArea {
    width:288px;
    height:577px;
    float:left;
    margin-right:5px;
}
#divCanvasArea {
    width:655px;
    height:577px;
    float:left;
}
#cvDrawingArea {
    width: 653px;
    height: 531px;
    cursor:url(../images/cursor.cur) 4 30, auto;
    /*for IE*/
    cursor:url(../images/cursor.cur), auto;
}
#cvDrawingArea.notAllowed {
    cursor:not-allowed;
}
.jumbotron {
    height:532px;/*扣除按鈕高43px*/
    margin:0;
    padding:0;
    background-color: #333;
    border-top-left-radius: 4px; 
    border-top-right-radius: 4px;
    border:1px solid rgb(204,204,204);
    border-bottom: 0;
}
#divMsgContainer {
    overflow: hidden;
}
#divContainer {
    width:960px;
    padding:5px;
    margin:0 auto;
    background-color: rgb(85,85,85);
    border:1px solid rgb(204,204,204);
    border-radius: 4px;
}
#row {
    height:577px;
    width:948px;
}
#divUserArea {
    width: 948px;
    margin-top: 5px;
    padding: 5px calc(106px/26);
    border:1px solid rgb(204,204,204);
    overflow: auto;
    border-radius: 4px;
}
div.thumbnail {
    width:70px;
    height:70px;
    margin:0 calc(106px/26);
    float:left;
}
div.thumbnail img {
    width: 60px;
    height: 60px
}
#btnSayMode {
    border-top-left-radius: 0;
}
#btnSend {
    border-top-right-radius: 0;
}
#ulMsgList {
    /*
    height: 531px;
    overflow:hidden;
    */
    word-wrap: break-word;
    color:#fff;
    list-style: none;
    margin-bottom: 0;
    padding-top: 15.5px;
    padding-left: 10px;
    padding-right: 10px;
    /*    高度大於515.5就必須刪li至<515.5*/
}
/*animation*/

/*border*/
#divContainer, .jumbotron, #inpUserInp, #divCanvasFooter, .btn-default, #divUserArea, .thumbnail {
    -webkit-animation: live 5s infinite;  /* Chrome, Safari, Opera */ 
    animation: live 5s infinite; /* Standard syntax */
}
/* Chrome, Safari, Opera */
@-webkit-keyframes live {
    50% {
        border-color: rgb(85,85,85);
    }
}

/* Standard syntax */
@keyframes live {
    50% {
        border-color: rgb(85,85,85);
    }
}

/*button 來源:animate.css*/
.flipInX {
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
    -webkit-animation: flipInX 1s;
    animation: flipInX 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes flipInX {
    from {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0;
    }

    40% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    60% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        opacity: 1;
    }

    80% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    }

    to {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
    }
}

@keyframes flipInX {
    from {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0;
    }

    40% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    60% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        opacity: 1;
    }

    80% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    }

    to {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
    }
}