<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="AppName" value="ERP 管理系統" />
  <add key="DebugMode" value="1" />
  <add key="LoginUrl" value="~/login.aspx" />
  <add key="HomeUrl" value="~/home.aspx" />
  <add key="ConnName" value="dbconn" />
  <add key="Language" value="zh-TW" />
</appSettings>
