<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!--<add name="dbconn" connectionString="Data Source=.;Initial Catalog=webapp;User ID=sa;Password=johnson0416" providerName="System.Data.SqlClient" />-->
  <add name="dbconn" connectionString="Data Source=.;Initial Catalog=webapp;User ID=sa;Password=1qaz@wsx" providerName="System.Data.SqlClient" />
</connectionStrings>
